body {
	background-image: url('images/BG_Assgn1.jpg');
	color: #CCCCCC;
	margin-right: auto;
	margin-left: auto;
	right: auto;
	left: auto;
}
div {
	margin-right: auto;
	left: auto;
	right: auto;
	padding-right: 200px;
	padding-left: 150px;
}
