.auto-style1 {
		text-align: center;
	}
	.auto-style2 {
		vertical-align: middle;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	body {
	background-image:url('../images/BG_Assgn1.jpg');
	font-family: Arial, Helvetica, sans-serif;

	
}