body {
   
	color: #CCCCCC;
	background-image: url("../myImages/piano.jpg");
	background-repeat: no-repeat;
    background-position:center;
    background-position-y:50px;
  background-size:1370px 576px;

 
  
}
