body {
   
	color: #CCCCCC;
	background-color:black;
	background-repeat: no-repeat;
    background-position:center 50px;
    background-size:1370px 576px;
    text-align: left;
}
div{
    align-items:center;
    text-align: center;
}
form
{
    margin-right:100px;
    margin-left:100px;
    margin-top:50px;
}